<%= render 'public/header' %>

<h1>ショッピングカート</h1>


<% if @cart_items.any? %>
    <%= link_to 'カートを空にする', destroy_all_cart_items_path, method: :delete %>

    <table>
        <thead>
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
        </thead>
        <tbody>
            <% @cart_items.each do |cart_item| %>
                <tr>
                    <td>
                        <%= image_tag cart_item.item.image, size: "100x100" %>
                        <%= cart_item.item.name %>
                    </td>
                    <td><%= cart_item.item.with_tax_price %></td>
                    <td>
                        <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
                            <%= f.select :amount, *[1..99] %>
                            <%= f.submit "変更する" %>
                        <% end %>
                    </td>    
                    <td>
                        <%= cart_item.subtotal %>
                        <%= link_to '削除する', cart_item_path(cart_item.id), method: :delete %>
                    </td>
                    <% @total += cart_item.subtotal %>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <%= link_to "買い物を続ける", root_path %>
    
    <p>合計金額</p>
    <%= @total %>

<% else %>
 <h1>カートは空です</h1>
 <%= link_to "買い物を続ける", root_path %>
<% end %>