<%= render 'public/header' %>

<%= image_tag @item.image, size: "400x400" %>
<h1><%= @item.name %></h1>
<P><%= @item.introduction %></P>
<p>￥<%= @item.with_tax_price %>(税込)</p>

<%= form_with model: @cart_item , url: cart_items_path , method: :post do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :amount, *[1..99] %>
    <%= f.submit "カートに入れる" %>
<% end %>
    